language: bash
os:
  - linux
  - osx
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then wget http://ftp.debian.org/debian/pool/main/s/shellcheck/shellcheck_0.3.7-5_amd64.deb ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then dpkg -x shellcheck_0.3.7-5_amd64.deb shellcheck/ ; fi
script:
  - travis_wait 30 script/cibuild
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then shellcheck/usr/bin/shellcheck script/* ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then shellcheck -x script/* ; fi
sudo: required
